:root{
    --WhiteColor-1:#FFFFFF;
    --WhiteColor-2:#F7EBE5;
    --WhiteColor-3:#F7F7F7;
    --WhiteColor-4: #fafafa;

    --GrayColor-1:#4a4a4d;
    --GrayColor-2:#bababd;
    --GrayColor-3:#7f7f81;
    --BlackColor:#1a1a1a;
    --RedColor-1:#E7426A;
    --BlueColor-1:#B3D9F3;
    --BlueColor-2:#8CC4EC;
    --FooterColor: #EBEDEE;
    --PurpleColo-1:#a45ffe;
    --transition-1: cubic-bezier(.69,.1,.45,1.47) 0.5s;
    --transition-2: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}