@import "mixin";
@import "header";
@import "main";
@import "footer";
@import "animations";
@import "normalize";
@import "root";
@import "paralax";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    max-width: 3000px;
    width: 100%;
}

html,
body{
    background-color: var(--WhiteColor-3);
    color: var(--BlackColor);
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--RedColor-1);
    border-radius: 30px;
}